//
// Base element style overrides
//
// stylelint-disable selector-no-type, selector-max-type

* {
  box-sizing: border-box;
}

::selection {
  color: $white;
  background: $link-color;
}

html {
  @include fs-4;
  scroll-behavior: smooth;
}

body {
  font-family: $body-font-family;
  font-size: inherit;
  line-height: $body-line-height;
  color: #222;
  background-color: $body-background-color;
  font-weight: 500;
}

ol,
ul,
dl,
pre,
address,
blockquote,
table,
div,
hr,
form,
fieldset,
noscript .table-wrapper {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: $body-heading-line-height;
  color: $body-heading-color;
}

h2 {
    border-bottom: 1px solid #eee;
}

h3 + p > img {
    max-width: 300px
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:not([class]) {
  text-decoration: none;
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 1px;

  &:hover {
    text-decoration: underline;
  }
}

code {
  font-family: $mono-font-family;
  font-size: 0.75rem;
  line-height: $body-line-height;
}

figure,
pre {
  margin: 0;
}

li {
  margin: 0.25rem 0;
  > img {
      max-width: 300px;
  }
  > p {
      margin-top: 0;
      margin-bottom: 0;
      > img {
          margin-top: .5rem;
      }
  }
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  height: 1px;
  padding: 0;
  margin: $sp-6 0;
  background-color: $border-color;
  border: 0;
}
