@charset "UTF-8";

//
// Styles for rendered markdown in the .main-content container
//
// stylelint-disable selector-no-type, max-nesting-depth, selector-max-compound-selectors, selector-max-type

.main-content {
  line-height: $content-line-height;

  ol,
  ul,
  dl,
  pre,
  address,
  blockquote,
  .table-wrapper {
    margin-top: 0.5rem;
  }

  a {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ul,
  ol {
    padding-left: 1.5rem;
  }

  li {
    .highlight {
      margin-top: $sp-1;
    }
  }

  ol {
    list-style-type: none;
    counter-reset: step-counter;

    > li {
      position: relative;

      &::before {
        position: absolute;
        top: 0.2rem;
        left: -1.6rem;
        color: #6b7899;
        content: counter(step-counter);
        counter-increment: step-counter;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background-color: #f8faff;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
      }

      ol {
        counter-reset: sub-counter;

        li {
          &::before {
            content: counter(sub-counter, lower-alpha);
            counter-increment: sub-counter;
          }
        }
      }
    }
    &#markdown-toc {
        padding: 1rem 0 1rem 1.5rem;
        background-color: rgba(39,21,250,.08);     
        li::before {
            display: none;
        }
    }
  }

  ul {
    list-style: none;

    > li {
      &::before {
        position: absolute;
        margin-left: -1.4rem;
        color: $grey-dk-000;
        content: "•";
      }
    }
  }

  .task-list {
    padding-left: 0;
  }

  .task-list-item {
    display: flex;
    align-items: center;

    &::before {
      content: "";
    }
  }

  .task-list-item-checkbox {
    margin-right: 0.6em;
  }

  hr + * {
    margin-top: 0;
  }

  h1:first-of-type {
    margin-top: 0.5rem;
  }

  dl {
    display: grid;
    grid-template-columns: max-content 1fr;
  }

  dt,
  dd {
    margin: 0.5rem 0;
  }

  dt {
    text-align: right;

    &::after {
      content: ":";
    }
  }

  dd {
    margin-left: 1rem;
  }

  .anchor-heading {
    position: absolute;
    right: -$sp-4;
    width: $sp-5;
    height: 100%;
    padding-right: $sp-1;
    padding-left: $sp-1;
    overflow: visible;

    @include mq(md) {
      right: auto;
      left: -$sp-5;
    }

    svg {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: $link-color;
      visibility: hidden;
    }
  }

  .anchor-heading:hover,
  h1:hover > .anchor-heading,
  h2:hover > .anchor-heading,
  h3:hover > .anchor-heading,
  h4:hover > .anchor-heading,
  h5:hover > .anchor-heading,
  h6:hover > .anchor-heading {
    svg {
      visibility: visible;
    }
  }

  summary {
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin-bottom: .5rem;
    padding-bottom: .25rem;

    &:first-child {
      margin-top: -$sp-3;
    }

    + table,
    + .table-wrapper,
    + .code-example,
    + .highlighter-rouge {
      margin-top: 1rem;
    }
  }

  h1, h2 {
      margin-top: 1.5rem;
  }

  h3, h4, h5, h6 {
      margin-top: 1rem;
  }

  h1 + p {
      margin-top: 2rem;
  }

  h3, h4, h5, h6 {
      + p {
          margin-top: 0;
      }
  }

  p {
      + h3,
      + h4,
      + h5,
      + h6 {
          padding-top: .5rem;
      }
  }
  ol, ul {
      + h3 {
          margin-top: 1.5rem;
      }
  }
}
